h1{
    text-align: center;
}

h2{
    text-align: center;
}

.unit{
    word-wrap: break-word;
}

.lesson{
    word-wrap: break-word;
}

body{
    background-color: dodgerblue;
}

.container {
    display: grid;
    grid-template-columns: repeat(6, auto);
    /*background-color: dodgerblue;*/
    /*padding: 10px;*/
    max-width:50%;
    /*margin: 0 auto;*/
}
.container > div {
    background-color: #f1f1f1;
    border: 1px solid black;
    padding: 10px;
    font-size: 15px;
    text-align: center;
}

.container > .mq1{
    background-color: #ff0d0d;
    color: #000000;
}

.container > .mq2{
    background-color: #ff0d0d;
    color: #000000;
}

.container > .mq3{
    background-color: #ff0d0d;
    color: #000000;
}

.container > .mq4{
    background-color: #ff0d0d;
    color: #000000;
}