#table {
    display: grid;
    grid-template-columns: repeat(34, auto);
    background-color: dodgerblue;
    padding: 2px;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
}

body{
    background-color: lightblue;
}

.header {
    display: contents;
}

.rows{
    display: contents;

}

.rows > div {
    display: contents;
}

.header > div {
    background-color: #706868;
    border: 1px solid black;
    padding: 5px;
    font-size: 12px;
    text-align: center;
    align-content: center;
    color: rgba(0, 233, 255, 0.96);
}

.row > div {
    background-color: #f1f1f1;
    border: 1px solid #2544ae;
    padding: 5px;
    font-size: 12px;
    text-align: center;
    align-content: center;
}

.row > .impact {
    background-color: black;
}

.row > .ei {
    background-color: black;
}

.row > .rookie {
    background-color: black;
}

button{
    font-size: 12px;
    text-align: center;
    padding: 0;
    margin: 2px;
}

.qualifyingRank{
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.qualifyingRank > p{
    display: block;
    padding: 10px;
    margin: 10px;
}

.ac > p{
    display: block;
    padding: 15px;
    margin: 0;
}

.captainClear{
    width: 100%;
}

div > .qualifyingRank > input{
    width: 10%;
}

div > .draftPick > input{
    width: 50%;
}

div > .won > input{
    width: 50%;
}

div > .part > input{
    width: 20%;
}




